/* Error: Undefined mixin.
 *    ,
 * 18 | /     @include respond-to('large') {
 * 19 | |       padding-left: 30px;
 * 20 | |       padding-right: 30px;
 * 21 | \     }
 *    '
 *   src\scss\layout\grid.scss 18:5  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 18 \2502  \250c      @include respond-to('large') {\a 19 \2502  \2502        padding-left: 30px;\a 20 \2502  \2502        padding-right: 30px;\a 21 \2502  \2514      }\a    \2575 \a   src\\scss\\layout\\grid.scss 18:5  root stylesheet";
}
