@use '../base/colors' as c;
@import '../base/mixins';
.rx__section
{
    max-width: 600px;
    text-align: left;
    @include respond-to('large') 
    {
        text-align: center;
    }
    form
    {
    .calendar__box{
        position: relative;
        input[type= 'date']
        {
            border: 2px solid c.$gray-200;
            background-color: c.$white;
            width: 100%;
            padding: 20px;
            margin: 20px 0;
            border-radius: 6px;
            font-size: 22px;
            color: c.$gray-700;
            text-transform: uppercase;
            position: relative;
            + i {
                position: absolute;
                right: 3%;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                margin-top: -1px;
                font-size: 1.7rem;
                color: gray;
                
              }
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            left: auto;
            width: 100%; /* Adjust according to your icon's size */
            height: 100%;
            padding: 0;
            margin: 0;
            opacity: 0;
            cursor: pointer;
        }
    }
}
}

