
/* Base styles */
* {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .col {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    @include respond-to('large') {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  /* Responsive styles */
  @media (min-width: 576px) {
    .col-sm-1 { flex: 0 0 8.333%; max-width: 8.333%; }
    /* ... Similar column styles for other col-sm-x classes */
  }
  
  @media (min-width: 768px) {
    .col-md-1 { flex: 0 0 8.333%; max-width: 8.333%; }
    .col-md-2 { flex: 0 0 16.667%; max-width: 16.667%; }
    .col-md-3 { flex: 0 0 25%; max-width: 25%; }
    .col-md-4 { flex: 0 0 33.333%; max-width: 33.333%; }
    .col-md-5 { flex: 0 0 41.667%; max-width: 41.667%; }
    .col-md-6 { flex: 0 0 50%; max-width: 50%; }
    .col-md-7 { flex: 0 0 58.333%; max-width: 58.333%; }
    .col-md-8 { flex: 0 0 66.667%; max-width: 66.667%; }
    .col-md-9 { flex: 0 0 75%; max-width: 75%; }
    .col-md-10 { flex: 0 0 83.333%; max-width: 83.333%; }
    .col-md-11 { flex: 0 0 91.667%; max-width: 91.667%; }
    .col-md-12 { flex: 0 0 100%; max-width: 100%; }
  }
  
  @media (min-width: 992px) {
    .col-lg-1 { flex: 0 0 8.333%; max-width: 8.333%; }
    /* ... Similar column styles for other col-lg-x classes */
  }
  
  @media (min-width: 1200px) {
    .col-xl-1 { flex: 0 0 8.333%; max-width: 8.333%; }
    /* ... Similar column styles for other col-xl-x classes */
  }
  