/* colors.scss */ /* variables.scss */ /* mixins.scss */
.example {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.rx__section {
  max-width: 600px;
  text-align: left;
}
@media (min-width: 992px) {
  .rx__section {
    text-align: center;
  }
}
.rx__section form .calendar__box {
  position: relative;
}
.rx__section form .calendar__box input[type=date] {
  border: 2px solid #e9ecef;
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
  margin: 20px 0;
  border-radius: 6px;
  font-size: 22px;
  color: #808080;
  text-transform: uppercase;
  position: relative;
}
.rx__section form .calendar__box input[type=date] + i {
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  margin-top: -1px;
  font-size: 1.7rem;
  color: gray;
}
.rx__section form .calendar__box input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: auto;
  width: 100%; /* Adjust according to your icon's size */
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}
