/* colors.scss */ /* variables.scss */ /* mixins.scss */
.example {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.otpcode__section {
  max-width: 600px;
  text-align: left;
}
@media (min-width: 992px) {
  .otpcode__section {
    text-align: center;
  }
}
.otpcode__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.otpcode__form {
  margin: 1rem 0;
}
.otpcode__form__input {
  width: 15%;
  height: 3.75rem;
  padding: 0.8rem;
  text-align: center;
  background-color: #ffffff;
  outline: none;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
@media (min-width: 992px) {
  .otpcode__form__input {
    width: 14%;
    height: 4.875rem;
  }
}
.otpcode__form .error__message {
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 1rem;
  color: #F06363;
}
